body {
	padding: 0;
	margin: 0;
	font-size: 24px;
	background-color: navy;
}

.login {
	width: 100vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	background-color: midnightblue;
	border: 1px solid black;
	border-radius: 2px;
	width: 400px;
	height: 40px;
	margin: 8px 0px;
	font-size: 18px;
	padding: 2px 10px;
	color: lightblue;
}

h1 {
	color: white;
	margin-bottom: 10px;
}

.btn {
	cursor: pointer;
	color: white;
	border-radius: 5px;
	font-weight: 500;
	width: inherit;
	height: 40px;
	font-size: 18px;
	margin: 8px 0px;
	padding: 5px;
	border: none;
	background-color: royalblue;
}
