/* * {
	border: 1px dashed red;
	min-height: 10px;
} */

body {
  background: #001c8e;
  margin: 0;
  padding: 0;
}

.feedHeader div {
  width: 50%;
  margin: 0px auto;
  color: wheat;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

.feed {
  width: 50%;
  margin: auto;
  background-color: wheat;
  color: black;
}

.post {
  width: 100%;
  margin: 0px auto;
}

.postHeader {
  width: 100%;
  margin: 0px;
  display: flex;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

.postName {
  width: 78%;
  padding-left: 5%;
}

.postDate {
  width: 22%;
  text-align: right;
  padding-right: 5%;
  color: gray;
}

.postContent {
  width: 90%;
  height: 50vh;
  padding: 0px 5%;
}

.postImage {
  margin: 0px;
  height: 70%;
  width: 100%;
}

.postImage img {
  margin: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.postText > p {
  margin: auto;
  width: 100%;
  height: 20%;
  font-size: small;
}

article {
  border: 1px solid #edeeee;
  background: white;
  margin-bottom: 60px;

  border-radius: 3px;
}

article > header {
  padding: 0px 14px;
}

.post_title {
  overflow: hidden;
}
.title_container h2 {
  font-size: 18px;
}

.post_title > div {
  width: 50%;
  float: left;
}

.date_container {
  text-align: right;
  color: #a5a7aa;
}

.image_container {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}

.comment_container {
  padding: 0px 24px;
}

img {
  max-width: 598px;
}

span {
  font-size: 15px;
  font-weight: 500;
}
