@import url('./variables.css');

.postBox {
	background: white;
	width: 35vw;
	height: 80vh;
	margin: 10vh 30vw;
    border-radius: 5px;
    padding: 0;
}

.postTitle{
    display: flex;
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;
    text-align: center;
	font-family: "Roboto", sans-serif;
}

.leftTitle{
    width: 90%;
    text-align: left;
    display: flex;
}

.titleIcon{
    width: var(--rightWidth);
    margin: auto;
}

.titleText{
    width: 90%;
    margin: auto;
}

.rightTitle{
    width: var(--rightWidth);
    margin: auto;
}

.postImage{
    height: 50%;
    margin: 0;
}

.postImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.postIcons{
    height: 6%;
    display: flex;
    padding-top: 2%;
    padding-left: 2%;
    margin:0;
}

.shareIcons{
    width: var(--leftWidth);
}

.saveIcon{
    width: var(--rightWidth);
    text-align: right;
    padding-right: 3%;
}

.blankIcons{
    width: var(--midWidth);
}

.postText {
    padding: 0px 15px; /* top/bottom, left/right */
	font-family: "Roboto", sans-serif;
    text-align: justify;
}

.boldText{
    font-weight: 700;
}