<!-- Emanuel Mejía -->
<div class="row">
  <!-- Portfolio paragraph -->
  <div class="col-md-10 offset-md-1">
    <h1>Portfolio</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam cum
      consequuntur rerum labore est reprehenderit esse, debitis dicta possimus,
      impedit veritatis, aperiam voluptate quod nulla. Assumenda, sed facere?
      Rem, delectus.
    </p>
  </div>
  <!-- Portfolio cards -->
  <div class="col-md-10 offset-md-1">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-4 py-3">
        <div class="card mb-5">
          <img
            src="././assets/img/big-project-image.png"
            class="card-img-top w-100"
            alt="750x500"
          />
          <div class="card-body">
            <div class="row py-2">
              <div class="col-12 card-title">
                <h3>
                  <a class="text-decoration-none" href="#"> Project Name </a>
                </h3>
              </div>
              <div class="col-12 card-text">
                <p class="card-text small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aliquid corrupti error dolore, nesciunt asperiores nam sunt
                  eaque eligendi ducimus quo magni itaque cupiditate ipsam ipsum
                  porro consequuntur unde.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-4 py-3">
        <div class="card mb-5">
          <img
            src="././assets/img/big-project-image.png"
            class="card-img-top w-100"
            alt="750x500"
          />
          <div class="card-body">
            <div class="row py-2">
              <div class="col-12 card-title">
                <h3>
                  <a class="text-decoration-none" href="#"> Project Name </a>
                </h3>
              </div>
              <div class="col-12 card-text">
                <p class="card-text small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aliquid corrupti error dolore, nesciunt asperiores nam sunt
                  eaque eligendi ducimus quo magni itaque cupiditate ipsam ipsum
                  porro consequuntur unde.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-4 py-3">
        <div class="card mb-5">
          <img
            src="././assets/img/big-project-image.png"
            class="card-img-top w-100"
            alt="750x500"
          />
          <div class="card-body">
            <div class="row py-2">
              <div class="col-12 card-title">
                <h3>
                  <a class="text-decoration-none" href="#"> Project Name </a>
                </h3>
              </div>
              <div class="col-12 card-text">
                <p class="card-text small">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aliquid corrupti error dolore, nesciunt asperiores nam sunt
                  eaque eligendi ducimus quo magni itaque cupiditate ipsam ipsum
                  porro consequuntur unde.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
